<section class = "rooms">	
		
		<% @houses.each do |house| %>
			
			<div class="room">

				<h2>	
					<%= link_to house.title, house_path(house) %>
				</h2>

				<p> <%= house.address %></p>
				<p> GBP<%= house.price_in_pence / 100 %></p>

			</div>

		<% end %>	

	</section>
