<article class = "row">
	
	<section class = "rooms">	
		
		<% @houses.each do |house| %>
			
			<div class="room">

				<h2>	
					<%= link_to house.title, house_path(house.id) %>
				</h2>

			</div>

		<% end %>	

	</section>

</article>	
